@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --color-mt: #10f2c5;
  --color-bk: #000000;
  --color-gr: #676767;
  --color-lg: #f7f7f7;
  --color-wh: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  max-width: 1440px;
  margin: auto;
}

/* header 영역 */
.hd {
  position: relative;
  padding-top: 54px;
}
.hd nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  border-bottom: 1px solid var(--color-gr);
  height: 72px;
}
.hd nav.hidden {
  top: -100px;
}
.hd .menu a {
  margin: 0 1rem;
  padding: 20px 14px;
  position: relative;
}
.hd .menu a:hover {
  font-weight: bold;
}
.hd .menu a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--color-gr);
  bottom: 8px;
  left: 0;
  opacity: 0;
  transition: 0.3s;
}
.hd .menu a:hover::before {
  opacity: 1;
}
.hd .person a {
  border: 1px solid var(--color-bk);
  border-radius: 0.5rem;
  padding: 0.75rem 1.25rem;
  transition: 0.3s;
}
.hd .person a:nth-of-type(1) {
  background-color: var(--color-wh);
}
.hd .person a:nth-of-type(1):hover {
  background-color: var(--color-mt);
  border-color: var(--color-mt);
}
.hd .person a:nth-of-type(2) {
  margin-left: 1rem;
  color: var(--color-wh);
  background-color: var(--color-bk);
}
.hd .person a:nth-of-type(2):hover {
  color: var(--color-bk);
  background-color: var(--color-mt);
  border-color: var(--color-mt);
}
.hd .ham {
  display: none;
}
.hd .banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  position: absolute;
  width: 100%;
  height: 54px;
  top: 0;
  border-bottom: 2px solid var(--color-gr);
}
.hd .personal {
  font-size: 14px;
}
.hd .personal > span:nth-of-type(1) {
  padding-right: 1rem;
}
.hd .personal > span:nth-of-type(2) {
  padding: 0.5rem 1rem;
  border-left: 1px solid var(--color-gr);
}
.hd .social {
  font-size: 20px;
}
.hd .social i {
  margin-left: 12px;
}

/* section.mainVisual 영역 */
.mainVisual {
  position: relative;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.mainVisual .intro {
  width: 50%;
  padding: 0 5rem;
  display: block;
  align-items: center;
}
.mainVisual .intro h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3.5rem;
  line-height: 120%;
}
.mainVisual .intro p {
  font-size: 18px;
  line-height: 150%;
  padding: 2rem 0;
}
.mainVisual .intro a {
  border: 1px solid var(--color-bk);
  border-radius: 0.5rem;
  display: inline-block;
  padding: 1rem 1.5rem;
  transition: 0.3s;
}
.mainVisual .intro a:nth-of-type(1) {
  color: var(--color-wh);
  background-color: var(--color-bk);
  margin: 0 0.75rem 0.75rem 0;
}
.mainVisual .intro a:nth-of-type(1):hover {
  color: var(--color-bk);
  background-color: var(--color-mt);
  border-color: var(--color-mt);
}
.mainVisual .intro a:nth-of-type(2):hover {
  background-color: var(--color-mt);
  border-color: var(--color-mt);
}
.mainVisual::before {
  content: '';
  display: block;
  background-image: url(../img/mainVisual.svg);
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 50vw;
  z-index: -1;
}

/* section.logo 영역 */
.logo {
  padding: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  background-color: var(--color-lg);
  overflow: hidden;
}
.logo h3,
.logo p {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 140%;
}
.logo p {
  display: none;
}
.logo ul {
  display: flex;
  justify-content: space-between;
}
.logo ul li {
  padding: 0.5rem 0.75rem;
}

/* section.secondVisual 영역 */
.secondVisual {
  height: 100vh;
  padding: 155px 5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.secondVisual .intro {
  width: 52%;
  display: block;
  align-items: center;
}
.secondVisual .intro h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2.5rem;
  line-height: 120%;
}
.secondVisual .intro p {
  font-size: 18px;
  line-height: 150%;
  padding-top: 1.5rem;
}
.secondVisual .more {
  border: 1px solid var(--color-bk);
  border-radius: 0.5rem;
  display: inline-block;
  padding: 1rem 1.5rem;
  margin-top: 3rem;
  background-color: var(--color-bk);
  color: var(--color-wh);
  transition: 0.3s;
}
.secondVisual .intro a:hover {
  color: var(--color-bk);
  background-color: var(--color-mt);
  border-color: var(--color-mt);
}
.secondVisual::before {
  content: '';
  display: block;
  background-image: url(../img/secondVisual.svg);
  background-size: cover;
  background-position: center;
  width: 45%;
  height: 70vh;
}

/* section.courses 영역 */
.courses {
  padding: 112px 5rem;
}
.courses h2 {
  text-align: center;
  margin-bottom: 60px;
}
.courses h2 strong {
  display: block;
  font-size: 3.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 120%;
  margin-bottom: 1.5rem;
}
.courses h2 span {
  font-size: 18px;
  line-height: 150%;
}
.courses .btns {
  display: flex;
  justify-content: center;
}
.courses .btns button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  line-height: 150%;
  padding: 0.5rem 1rem;
  position: relative;
}
.courses .btns button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--color-gr);
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s;
}
.courses .btns button:hover::before,
.courses .btns button:focus::before {
  opacity: 1;
}

.courses .list {
  display: none;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5rem;
}
.courses .list.on {
  display: flex;
}
.courses .card {
  background-color: var(--color-lg);
  position: relative;
  width: 400px;
  padding: 310px 18px 24px 18px;
  margin-bottom: 64px;
}
.courses .card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.courses .card span:nth-of-type(1),
.courses .card span:nth-of-type(2) {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 150%;
}
.courses .card span:nth-of-type(2) {
  position: absolute;
  right: 16px;
}
.courses .card span:nth-of-type(2)::before {
  content: '\f005';
  font-family: 'Font Awesome 5 Free';
  color: #d9d9d9;
  margin-right: 8px;
}
.courses .card h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 140%;
  margin: 10px 0;
}
.courses .card p {
  line-height: 150%;
  margin-bottom: 1.5rem;
}
.courses .card span:nth-of-type(3) {
  background-color: transparent;
  border: 1px solid var(--color-bk);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 16px;
  line-height: 150%;
  transition: 0.3s;
}
.courses .card:hover span:nth-of-type(3) {
  background-color: var(--color-mt);
  border-color: var(--color-mt);
}
.courses .card strong {
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
}
.courses .card a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.courses .more {
  display: flex;
  justify-content: center;
}
.courses .more a {
  border: 1px solid var(--color-bk);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  line-height: 150%;
  transition: 0.3s;
}
.courses .more a:hover {
  background-color: var(--color-gr);
  color: var(--color-wh);
}

/* section.review 영역 */
.review {
  height: 80vh;
  padding: 90px 5rem 112px 5rem;
}
.review h2 strong {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  line-height: 120%;
}
.review h2 span {
  font-size: 18px;
  line-height: 150%;
  display: block;
  margin-top: 20px;
  margin-bottom: 80px;
}
.review .inner {
  position: relative;
}
.review .reviewCard {
  border: 1px solid var(--color-bk);
  border-radius: 5px;
  width: 100%;
  padding: 2rem;
  position: relative;
}
.review .reviewCard p {
  font-size: 18px;
  line-height: 150%;
  margin: 1.5rem 0;
}
.review .profile {
  display: flex;
  align-items: center;
}
.review .info > * {
  display: block;
  line-height: 150%;
  padding: 0 20px;
}
.review .profile strong {
  font-weight: bold;
}
.review .reviewCard .more {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.review .pg1 {
  text-align: left;
  bottom: -68px;
}
.review .swiper-pagination-bullet-active {
  background-color: var(--color-bk);
}
.review .next1,
.review .prev1 {
  top: calc(100% + 40px);
  margin: 0;
  color: var(--color-bk);
  width: 48px;
  height: 48px;
  border: 1px solid var(--color-bk);
  border-radius: 50%;
}
.review .next1 {
  right: 0;
}
.review .prev1 {
  left: calc(100% - 111px);
}
.review .next1 i,
.review .prev1 i {
  font-size: 1.2rem;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

/* footer 영역 */
footer {
  border-top: 2px solid var(--color-gr);
  padding: 5rem;
}
footer .footTop {
  display: flex;
  justify-content: space-between;
}
footer .title {
  line-height: 150%;
}
footer .title strong {
  font-size: 18px;
  font-weight: bold;
}
footer .box {
  display: flex;
  justify-content: right;
  gap: 1rem;
  margin-bottom: 1rem;
}
footer .box input {
  box-sizing: border-box;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  font-size: 17px;
  line-height: 150%;
}
footer .box input:nth-of-type(1):focus {
  background-color: rgba(16, 242, 197, 0.3);
}
footer .box input:nth-of-type(2) {
  background-color: var(--color-wh);
  cursor: pointer;
  transition: 0.3s;
}
footer .box input:nth-of-type(2):hover {
  background-color: var(--color-mt);
  border-color: var(--color-mt);
}
footer .email span,
footer .email a {
  font-size: 14px;
}
footer .email a {
  text-decoration: underline;
}
footer nav {
  display: flex;
  gap: 40px;
  margin: 80px 0;
}
footer nav img {
  margin-right: 15%;
  align-self: flex-start;
}
footer .gnb {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
footer .gnb li {
  width: 30%;
  line-height: 150%;
  white-space: nowrap;
}
footer .gnb li p {
  font-weight: bold;
  margin-bottom: 1rem;
}
footer .sub li {
  padding: 0.5rem 0;
  font-size: 14px;
}
footer .sub li:hover {
  text-decoration: underline;
}
footer .footBottom {
  border-top: 1px solid var(--color-gr);
  padding-top: 33px;
  display: flex;
}
footer .links a {
  margin-left: 24px;
  text-decoration: underline;
}
footer .social {
  flex: 1;
  text-align: end;
}
footer .social a {
  font-size: 22px;
  margin-left: 12px;
}

@media (max-width: 1430px) {
  .courses .list {
    justify-content: center;
    gap: 2rem;
  }
}

@media (max-width: 1100px) {
  .hd {
    padding: 0 24px;
    position: relative;
  }
  .hd .menu,
  .hd .person,
  .hd .banner {
    display: none;
    position: fixed;
  }
  .hd .menu {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    border-left: 1px solid var(--color-gr);
    left: 20%;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 7rem;
    z-index: 100;
  }
  .hd .menu a {
    display: block;
    margin: 1rem 2rem;
    padding: 2rem 1rem;
    font-size: 1.5rem;
  }
  .hd .person {
    left: 20%;
    padding: 3rem;
    margin-top: 3rem;
    z-index: 150;
  }
  .hd nav {
    padding: 0;
    transition: 0.3s;
  }

  .hd .ham {
    display: block;
    position: fixed;
    top: 25px;
    right: 40px;
    width: 25px;
    height: 25px;
    z-index: 200;
    cursor: pointer;
    transition: 0.3s;
  }
  .hd .ham::before {
    content: '';
    position: relative;
    display: block;
    background-color: var(--color-wh);
    top: -12px;
    right: 13px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .hd .ham span {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--color-bk);
    border-radius: 2px;
    transition: 0.3s;
  }
  .hd .ham span:nth-of-type(1) {
    top: 0;
  }
  .hd .ham span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  .hd .ham span:nth-of-type(3) {
    top: calc(100% - 4px);
  }
  .hd .ham:hover {
    transform: scale(1.2);
  }
  .hd .ham.on span:nth-of-type(1) {
    transform: rotate(45deg);
    transform-origin: left;
    top: 3px;
    left: 3px;
  }
  .hd .ham.on span:nth-of-type(2) {
    display: none;
  }
  .hd .ham.on span:nth-of-type(3) {
    transform: rotate(-45deg);
    transform-origin: left;
    left: 4px;
    top: calc(100% - 5px);
  }

  .mainVisual .intro {
    padding: 0 5rem;
  }

  .logo,
  .logo p {
    display: block;
  }
  .logo h3 {
    display: none;
  }
  .logo p {
    display: block;
  }
  .logo ul li {
    margin-top: 24px;
  }

  .secondVisual .intro p {
    padding-top: 48px;
  }
  .secondVisual .intro p:nth-of-type(3) {
    display: none;
  }

  footer .footBottom {
    display: block;
    text-align: center;
  }
  footer .links {
    margin: 24px 0;
  }
  footer .social {
    text-align: center;
  }

  .hd .menu.on,
  .hd .person.on {
    display: block;
  }
}

@media (max-width: 1040px) {
  .mainVisual .intro h2 {
    font-size: 40px;
  }
  .mainVisual .intro p {
    padding: 1rem 0;
  }
  .secondVisual .intro h2 {
    font-size: 32px;
  }
  .secondVisual .intro p {
    padding-top: 1.5rem;
  }
  .secondVisual .more {
    margin-top: 2rem;
  }
  .courses .list {
    flex-direction: column;
    align-items: center;
  }
  .courses .hidden {
    display: none;
  }
}

@media (max-width: 860px) {
  .mainVisual {
    display: flex;
    flex-direction: column-reverse;
  }
  .mainVisual .intro {
    width: 100%;
    padding: 4rem 1.5rem;
  }
  .mainVisual .intro p {
    padding: 2rem 0;
  }
  .mainVisual::before {
    width: 100%;
    height: 50vh;
    z-index: -1;
  }

  .logo {
    padding: 3rem 1.5rem;
  }
  .logo h3,
  .logo p {
    font-size: 18px;
  }

  .secondVisual {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    height: 150vh;
    justify-content: center;
  }
  .secondVisual .intro {
    width: 100%;
    padding: 2rem 1.5rem 4rem 1.5rem;
  }
  .secondVisual::before {
    width: 90%;
    height: 70vh;
    z-index: -1;
  }

  .courses {
    padding: 4rem 1.5rem;
  }
  .courses h2 {
    margin-bottom: 2rem;
  }
  .courses h2 strong {
    font-size: 2.5rem;
  }
  .courses .list {
    margin-top: 3rem;
  }

  .review {
    height: 60vh;
    padding: 3rem 1.5rem;
  }
  .review h2 strong {
    font-size: 32px;
  }
  .review h2 span {
    margin-bottom: 20px;
  }

  footer {
    padding: 3rem 1.5rem;
    border: none;
  }
  footer .footTop,
  footer .title strong,
  footer .box,
  footer nav,
  footer .gnb {
    display: block;
  }
  footer .footTop {
    text-align: center;
  }
  footer .title strong {
    margin-bottom: 1rem;
  }
  footer .title p {
    margin-bottom: 1.5rem;
  }
  footer .box {
    gap: 0;
  }
  footer .box input {
    width: 100%;
  }
  footer .box input:nth-of-type(2) {
    margin-top: 1rem;
  }
  footer nav {
    text-align: center;
    margin: 3rem;
  }
  footer nav img {
    margin: 0;
  }
  footer .gnb li {
    width: 100%;
  }
  footer .gnb > li {
    margin: 2rem 0;
  }
}
